$table-header-color: #7E57C2;
$table-background-color: #EDE7F6;

td, th {
    text-align: left;
}

th {
    padding-bottom: 5px;
    color: white;
    background-color: $table-header-color;
    font-weight: bold;
}

.th-button {
    font-weight: bold;
}

tr:nth-child(even){background-color: $table-background-color}

.top-border {
    border-top: 1px solid $table-header-color;
}

.bottom-border {
    border-bottom: 1px solid $table-header-color;
}

.nowrap {
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid $table-header-color;
}

.small-spinner {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.centered-spinner {
    margin:0 auto;
}