<!DOCTYPE html>
<html>
<head>
    <!-- Favicon made by Madebyoliver from www.flaticon.com -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= htmlWebpackPlugin.files.webpackManifest %>

    <title> Fragaria </title>
</head>
<body class="mat-app-background">
    <frg-app>Loading ...</frg-app>
</body>
</html>
